# Base URL for API requests
VITE_API_BASE_URL=https://YOUR-RENDER-BACKEND-URL

# Mapbox Configuration
VITE_MAPBOX_ACCESS_TOKEN=
VITE_MAPBOX_STYLE=mapbox://styles/mapbox/satellite-streets-v12

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dc1q2h4tc
VITE_CLOUDINARY_UPLOAD_PRESET=landlense
